<p id="notice"><%= notice %></p>

<h1>Blockers</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Added by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blockers.each do |blocker| %>
      <tr>
        <td><%= blocker.item %></td>
        <td><%= blocker.added_by %></td>
        <td><%= link_to "Show", blocker %></td>
        <td><%= link_to "Edit", edit_blocker_path(blocker) %></td>
        <td><%= link_to "Destroy", blocker, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Blocker", new_blocker_path %>
