<div class="row">
  <div class="col-sm-9 dashboard_main_section">
    <%= render "dashboard/user/welcome" %>
    <%= render "dashboard/app/overview/index" %>
    <div class="row px-3">
      <%= render "dashboard/user/tasks" %>
      <%= render "dashboard/user/apps" %>
    </div>
  </div>
  <div class="col-sm-3 dashboard_side_bar">
    <%= render "dashboard/user/todos" %>
    <%= render "dashboard/user/requests" %>
  </div>
</div>
