<div class="d-flex" style="overflow-x: auto;">
  <%= render "contest/all/rep_list" %>
  <%= render "contest/all/ask_table" %>
  <%= render "contest/all/received_table" %>
  <%= render "contest/all/chats_table" %>
  <%= render "contest/all/calls_table" %>
  <%= render "contest/all/totals" %>
</div>
