

<p>
  <strong>App:</strong>
  <%= @daily_count.app_id %>
</p>

<p>
  <strong>User count:</strong>
  <%= @daily_count.user_count %>
</p>

<p>
  <strong>Date:</strong>
  <%= @daily_count.date %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @daily_count.plan_id %>
</p>

<%= link_to "Back", daily_counts_path %>
