<p id="notice"><%= notice %></p>

<p>
  <strong>Error:</strong>
  <%= @error.error %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @error.origin %>
</p>

<p>
  <strong>Controller:</strong>
  <%= @error.controller %>
</p>

<p>
  <strong>Method:</strong>
  <%= @error.method %>
</p>

<%= link_to "Edit", edit_error_path(@error) %> |
<%= link_to "Back", errors_path %>
