<%= form_with(model: task_comment_reply) do |form| %>
  <% if task_comment_reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task_comment_reply.errors.count, "error") %> prohibited this task_comment_reply from being saved:</h2>

      <ul>
        <% task_comment_reply.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :reply %>
    <%= form.rich_text_area :reply %>
  </div>

  <div class="field">
    <%= form.label :task_comment_id %>
    <%= form.text_field :task_comment_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :task_id %>
    <%= form.text_field :task_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
