<%= form_with(model: task_checklist) do |form| %>
  <% if task_checklist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task_checklist.errors.count, "error") %> prohibited this task_checklist from being saved:</h2>

      <ul>
        <% task_checklist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :task_id %>
    <%= form.text_field :task_id %>
  </div>

  <div class="field">
    <%= form.label :item %>
    <%= form.text_area :item %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="field">
    <%= form.label :added_by %>
    <%= form.text_field :added_by %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
